/* .navbar{
    background-color: black;
} */

.empty{
    opacity: 0;
}

.navbar__container{
    width: 100%;
    background: #fff;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
nav icon
*/

.nav-icon {
    position: relative;
    margin-top: 12px;
}

.nav-icon .burger {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
  
.nav-icon .burger .line {
    background: #555;
    width: 20px;
    height: 2px;
    margin: 5px 0;
    -webkit-transform-origin: right;
            transform-origin: right;
    transition: 400ms cubic-bezier(0.17, 0.67, 0.35, 1.15);
  }

.active .burger .line_1 {
    margin-left: -6px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

.active .burger .line_2 {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

.active .burger .line_3 {
    margin-left: -6px;
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg);
  }

.navbar__logo{
    width: 200px;
    position: relative;
}

.navbar__link {
    color: black;
    display: inline-block;
    font-size: 0.9em;
    letter-spacing: 0.1rem;
    padding: 0 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 250ms;
}

.navbar__button{
    opacity: 0;
}

@media only screen and (max-width: 700px) {
    .navbar__button{
        display: inline-block;
        opacity: 1;
        margin: 10px 10px 20px 10px;
        position: absolute;
        right: 15px;

    }
    .navbar__container{
        flex-direction: column;
    }
    .navbar__logo{
        position: absolute;
        width: 170px;
        left: 10px;
        top: 27px;
    }
    .navbar__links{
        margin-top: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .navbar__link{
        margin-top: 7px;
    }
    .navbar{
        padding-top: 10px;
        min-height: 90px;
    }
}

