#social {
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: default;
    text-align: center;
  }
  #social a {
    display: inline-flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.2s ease;
  }
  
  .socialLight {
    background: #fff;
  }
  .socialLight #social:hover a {
    opacity: .5;
  }
  .socialLight #social a {
    color: #444;
  }
  .socialLight #social a:hover {
    opacity: 1;
  }

.footer__icon{
    width: 30px;
}
  