* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  color: #282828;

}

.page__container {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px;
}

h1 {
  font-family: 'Trirong', serif;
  color: #282828;
}

h2 {
  font-family: 'Trirong', serif;
  color: #555;
}

h4 { 
  color: #2d2d2d;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 2em;
  font-family: 'Trirong', serif;
}

p {
  color: #282828;
}

.link {
  margin: 0;
  text-decoration: underline;
  color: #555;
}

.button{
  padding: 5px;
  height: 30px;
  background-color: rgba(85, 85, 85, 0.4);
  border: none;
}

@media only screen and (min-width: 600px){
  .button:hover{
      cursor: pointer;
      color: black;
  }
  .cursor {
    cursor: pointer;
  }
}
